@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background: linear-gradient(to right , #cecfcf , #e0e0e0 , transparent)
}
.dark-active{
    background: linear-gradient(to right , #575858 , #807f7f , transparent)
}
.boxShadow{
    box-shadow: 0 0 10px rgba(128, 127, 127, 0.391)  ;
}
@media screen and (max-width:640px){
    .isOpen{
        transform: translateX(-5px);
        transition: all .3;
        width: 150px;
        font-size: 14px;
        
        
     }
     .close{
        display: none;
     }
   
}