@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background: linear-gradient(to right , #cecfcf , #e0e0e0 , transparent)
}
.dark-active{
    background: linear-gradient(to right , #6c6c6c72 , #3b3b3b , transparent )
}
.boxShadow{
    box-shadow: 0 0 10px rgba(128, 127, 127, 0.391)  ;
}
@media screen and (max-width:640px){
    .isOpen{
        transform: translateX(-5px);
        transition: all .3;
        width: 150px;
        font-size: 14px;
        
        
     }
     .close{
        display: none;
     }
     .sizeSide{
        width: 6%;
     }
     .sizeSideFix{
        width: 35%;
     }
     .hideToggleBtn{
        overflow: hidden;
     }
     .toggleBtn{
        overflow: visible;
     }
   
}